* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    min-height: 100vh;
    max-width: 100vw;    background-color: fff;
    background: url(../img/Floppydisk.jpg) no-repeat center/contain;
    background-attachment: fixed;
    color: white;
}

#header {
    display: flex;
    width: 5%;
    height: 5%;
    margin-left: 3rem;
}

nav {
    display: flex;
    justify-content: space-between;
    padding-top: 4.25em;
  }
  
 
  
  ul {
    display: flex;
    font-size: 1.25em;
  }
  
  li {
    list-style: none;
  }
  
  li:nth-child(1) {
    padding-right: 8em;
  }
  
  li:last-child {
    padding-right: 7.6875em;
  }
  
  li:last-child:hover {
    text-decoration: underline;
  }

#inform {
    margin-top: 29.5rem;
    margin-left: 19rem;
    justify-content: center;
    width: 61rem;

}

